<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <title>Document</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Here we're rendering the sidebar with dynamic content -->
            {% set sidebar_content %}
                {% block sidebar_content %}{% endblock %}
            {% endset %}
            {% include 'sidebar.html' %}
            
            <div class="col-md-9">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</body>
<!-- basic scripts -->
</html>
